<p>{{ 'W0133' | translate }}</p>
<div>
  <p>{{ 'W0121' | translate }}</p>
  <p>{{ viewModel.email }}</p>
</div>
<div>
  <p>{{ 'W0122' | translate }}</p>
  <a [routerLink]="['/account/pw']">{{ 'W0135' | translate }}</a>
</div>
<div *ngIf="!viewModel.isInputMode">
  <p>{{ 'W0134' | translate }}</p>
  <p>{{ viewModel.nickname }}</p>
  <a (click)="viewModel.isInputMode = true">{{ 'W0135' | translate }}</a>
</div>
<div *ngIf="viewModel.isInputMode">
  <input type="text" [(ngModel)] = "viewModel.inputNickname" (input)="inputNickname($event.target.value)"/>
  <input type="button" value="{{ 'W0135' | translate }}" (click)="changeNickname()"/>
  <input type="button" value="{{ 'W0155' | translate }}" (click)="viewModel.isInputMode = false"/>
  <p *ngIf="viewModel.isErrNickname">{{ viewModel.nicknameErrMsg }}</p>
</div>
