<div class="login-modulate">
  <mat-card class="auth-login nopadding">
    <div class="lg-inner-box">
      <p class="lg-header">{{ 'W0006' | translate }}</p>
      <div class="lg-email-box">
        <img src="/assets/img/email.png" />
        <input *ngIf="viewModel.emailErrMsg.length > 0" type="text" placeholder="{{ 'W0121' | translate }}" [(ngModel)]="viewModel.email" id="lg-email-button"/>
      </div>
      <div class="sg-email-error-box" *ngIf="viewModel.isEmailInvalid">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ viewModel.emailErrMsg }}</p>
      </div>
      <div class="lg-passwd-box">
        <img src="/assets/img/password.png" />
        <input type="password" placeholder="{{ 'W0122' | translate }}" [(ngModel)]="viewModel.pw" />
      </div>
      <div class="sg-passwd-error-box" *ngIf="viewModel.isPwInvalid">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ viewModel.pwErrMsg }}</p>
      </div>
      <input type="button" value="Login" (click)="login()" id="lg-login-button"/>
      <label for="lg-login-button">Login</label>
      <div class="lg-div-line"></div>
      <div class="lg-forgotten-box">
        <p>{{ 'W0123' | translate }}</p>
        <a>{{ 'W0124' | translate }}</a>
      </div>
      <div class="lg-signup-box">
        <p>{{ 'W0125' | translate }}</p>
        <a>{{ 'W0007' | translate }}</a>
      </div>
    </div>
  </mat-card>
</div>
