.order-title {
  height: 25px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.order-title p {
  padding: 0px;
}
.order-tab {
  height: 318px;
}
.row-limit1q li {
  float: left;
}
.top-margin {
  margin-top: 10px !important;
}
.row-order {
  height: 30px;
  margin-top: 10px !important;
}
.row-ul {
  list-style: none;
  padding: 0px;
  padding-left: 30px;
}
.non-title {
  margin-left: 80px;
}
.row-ul li {
  float: left;
}
.row-ul li.title {
  width: 80px;
  font-size: 13px;
  font-weight: bold;
  color: #afb2be;
  padding-top: 5px;
}
.row-ul li.unit {
  padding-left: 10px;
  font-size: 11px;
  color: #afb2be;
  padding-top: 8px;
}
.row-ul li.balance-box {
  width: 190px;
  height: 30px;
  border: 1px solid #e0e0e8;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 13px;
  padding-top: 4px;
  text-align: right;
  padding-right: 10px;
  color: #afb2be;
}
.row-ul li.ctl-box {
  position: relative;
  width: 190px;
  height: 30px;
  border: 1px solid #e0e0e8;
  border-radius: 5px;

}
.minus-button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 29px;
  border: none;
  outline: none;
  background: url("/assets/img/trading_order_minus.png") no-repeat;
  background-size: 7px 7px;
  background-position: center;
  background-color: #e0e0e8;
  border-radius: 4px 0 0 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}
.plus-button {
  position: absolute;
  left: 25px;
  top: 0px;
  width: 25px;
  height: 29px;
  border: none !important;
  background: url("/assets/img/trading_order_plus.png") no-repeat;
  background-size: 7px 7px;
  background-position: center;
  outline: none;
  background-color: #e0e0e8;
  padding-bottom: 5px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}
.ctl-box div {
  position: absolute;
  right: 0px;
  font-size: 13px;
  padding-top: 4px;
  text-align: right;
  padding-right: 10px;
  color: black;
}
.quarter-button {
  font-size: 13px;
  color: black;
  width: 63.3px;
  outline: none;
  background: none;
  border-radius: 5px 0 0 5px;
  border: none;
  border-top: 1px solid #e0e0e8;
  border-bottom: 1px solid #e0e0e8;
  border-left: 1px solid #e0e0e8;
  cursor: pointer;
}
.half-button {
  font-size: 13px;
  color: black;
  width: 63.3px;
  outline: none;
  background: none;
  border: none;
  border-top: 1px solid #e0e0e8;
  border-bottom: 1px solid #e0e0e8;
  border-left: 1px solid #e0e0e8;
  cursor: pointer;
}
.max-button {
  font-size: 13px;
  color: black;
  width: 63.3px;
  outline: none;
  background: none;
  border-radius: 0 5px 5px 0;
  border: none;
  border-top: 1px solid #e0e0e8;
  border-bottom: 1px solid #e0e0e8;
  border-left: 1px solid #e0e0e8;
  border-right: 1px solid #e0e0e8;
  cursor: pointer;
}
.amount-button {
  height: 25px;
}
.amount-buttons {
  margin-top: 5px !important;
  height: 25px !important;
  font-size: 11px;
  color: black;
}
.amount-buttons ul {
  height: 25px !important;
}
.amount-button:hover {
  background-color: #eaf1ff;
}
.row-ul li.title-total {
  width: 80px;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
}
.row-ul li.total-info {
  width: 190px;
  height: 30px;
  text-align: right;
  padding-top: 1px;
  font-size: 18px;
  font-weight: bold;
}
.fee {
  text-align: right;
  padding-right: 33px;
  padding-top: 5px;
  height: 15px;
  font-size: 9px;
  color: #afb2be;
}
.buy-button {
  cursor: pointer;
  background: none;
  background-color: #16a277;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 315px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.sell-button {
  cursor: pointer;
  background: none;
  background-color: #c81e3a;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 315px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.login-or-signup ul {
  height: 40px !important;
  background-color: white;
  border: 1px solid #e0e0e8;
  border-radius: 5px;
  width: 315px;
  height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-left: 3px !important;
  display: flex;
  justify-content: center;
}
.login-or-signup ul li {
  float: left;
  list-style: none;
  padding-left: 3px;
  padding-top: 7px;
}
.login-or-signup .login, .login-or-signup .signup{
  cursor: pointer;
  color: #3078ff;
  text-decoration: underline;
}
