<div class="row nopadding row-order top-margin">
  <ul class="row-ul">
    <li class="title">Balance</li>
    <li class="balance-box">
      <div class="balance-info">{{ balance }}</div>
    </li>
    <li class="unit">ETH</li>
  </ul>
</div>
<div class="row nopadding row-order">
  <ul class="row-ul">
    <li class="title">Price</li>
    <li *ngIf="isLimit" class="ctl-box">
      <input type="button" class="minus-button" (click) = "changePrice(false)"/>
      <input type="button" class="plus-button" (click) = "changePrice(true)"/>
      <input type="number" class="price-info" value = "{{ price }}"/>
    </li>
    <li *ngIf="!isLimit" class="balance-box">
      <div class="market-price">Market Price</div>
    </li>
    <li class="unit">ETH</li>
  </ul>
</div>
<div class="row nopadding row-order">
  <ul class="row-ul">
    <li class="title">Amount</li>
    <li class="ctl-box">
      <input type="button" class="minus-button" (click) = "changeAmount(false)"/>
      <input type="button" class="plus-button" (click) = "changeAmount(true)"/>

      <input type="number" class="amount-info" value = "{{ amount }}"/>
    </li>
    <li class="unit">ETH</li>
  </ul>
</div>
<div class="row nopadding amount-buttons">
  <ul class="row-ul non-title">
    <li><input type="button" value="25%" (click) = "changeAmountByRatio(.25)" class="quarter-button amount-button"/></li>
    <li><input type="button" value="50%" (click) = "changeAmountByRatio(.5)" class="half-button amount-button"/></li>
    <li><input type="button" value="MAX" (click) = "changeAmountByRatio(1)" class="max-button amount-button"/></li>
  </ul>
</div>
<div class="row nopadding row-order">
  <ul class="row-ul">
    <li class="title-total">Total</li>
    <li class="total-info">
      <div>{{ price * amount }}</div>
    </li>
    <li class="unit">ETH</li>
  </ul>
</div>
<p class="fee">* Fees: 0.006%</p>
<input *ngIf="isLogin&&isBuy" type="button" value="Buy TMX" class="buy-button" (click)="orderCoin()"/>
<input *ngIf="isLogin&&!isBuy" type="button" value="Sell TMX" class="sell-button" (click)="orderCoin()"/>
<div *ngIf="!isLogin" class="login-or-signup nopadding">
  <ul>
    <li><a class="login" href="#">Log In</a></li>
    <li>or</li>
    <li><a class="signup" href="#">Sign Up</a></li>
  </ul>
</div>
