<header>
  <div class="header-body">
    <div class="navbar navbar-expand nopadding">
      <a class="navbar-brand tymx-brand nopadding" href="#">
        <img class="tymx-logo" src="../../assets/img/web_navi_logo.png" alt="tymx"/>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="header-nav-about header-nav-indent-l header-nav cap">
            <a href="#">
              <font class="header-nav-font">{{ 'W0001' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-exchange header-nav-indent-l header-nav cap">
            <a href="#">
              <font class="header-nav-font">{{ 'W0002' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-shop header-nav-indent-l header-nav cap">
            <a href="#">
              <font class="header-nav-font-disabled">{{ 'W0003' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-forum header-nav cap">
            <a href="#">
              <font class="header-nav-font-disabled">{{ 'W0004' | translate }}</font>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="header-nav-notice header-nav-items header-nav cap">
            <a href="#">
              <font class="header-nav-font">{{ 'W0005' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-line"></li>
          <li *ngIf="isLogin" class="header-nav-singup header-nav-items header-nav text-center cap">
            <img src="/assets/img/web_navi_signup.png" class="header-nav-img">
            <a href="#">
              <font class="header-nav-font">{{ 'W0007' | translate }}</font>
            </a>
          </li>
          <li *ngIf="isLogin" class="header-nav-line"></li>
          <li *ngIf="isLogin" class="header-nav-login header-nav-items header-nav text-center cap">
            <img src="/assets/img/web_navi_login.png" class="header-nav-img">
            <a href="#">
              <font class="header-nav-font">{{ 'W0006' | translate }}</font>
            </a>
          </li>
          <li *ngIf="!isLogin" class="header-nav-wallet header-nav-items header-nav cap">
            <a href="#">
              <font class="header-nav-font">{{ 'W0008' | translate }}</font>
            </a>
          </li>
          <li *ngIf="!isLogin" class="header-nav-line"></li>
          <li *ngIf="!isLogin" class="header-nav-account header-nav-items header-nav cap">
            <a (click) = "notiToggle()">
              <font class="header-nav-font">Account</font>
            </a>
          </li>
          <li *ngIf="!isLogin" class="header-nav-line"></li>
          <li *ngIf="!isLogin" class="header-nav-wallet header-nav-items header-nav cap">
            <img src="/assets/img/web_navi_logout.png" class="header-nav-img">
            <a href="#">
              <font class="header-nav-font">Logout</font>
            </a>
          </li>
          <li *ngIf="!isLogin" class="header-nav-line-fu"></li>
          <li *ngIf="!isLogin" class="header-nav-noti header-nav cap">
            <a (click) = "notiToggle()">
              <font class="header-nav-font"><img class="img-noti" src="/assets/img/web_navi_notification_off.png"/></font>
            </a>
          </li>
          <li class="header-nav-line-fu"></li>
          <li class="header-nav-lang header-nav">
            <!--
            <a ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <font class="header-nav-font">{{ langCodeObj.get(translate.currentLang) }}</font>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="setLanguage('en')" routerLink = '/'>English</a>
              <a class="dropdown-item" (click)="setLanguage('ko')">한국어</a>
            </div>
            -->
            <div class="lang-sel-box" (click) = "langToggle()">
              <img class="national" src="/assets/img/web_navi_language_en.png"/>
              <span>{{ langCodeObj.get(translate.currentLang) }}</span>
              <!-- <img class="arrow right-div" src="/assets/img/web_navi_language_arrow_off.png"/> -->
            </div>
          </li>
          <li class="header-nav-line-fu"></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="header-helper-div">
  <mat-card class="header-noti nopadding mat-elevation-z8" [appNotiVisibility]="isNoti">
    <app-header-noti></app-header-noti>
  </mat-card>
</div>
<div class="lang-popover" [appNotiVisibility]="isLang">
  <app-lang-popover></app-lang-popover>
</div>
