<header>
  <div class="header-body">
    <div class="navbar navbar-expand nopadding">
      <a class="navbar-brand tymx-brand nopadding" href="#">
        <img class="tymx-logo" src="../../assets/img/web_navi_logo.png" alt="tymx"/>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="header-nav-about header-nav">
            <a href="#">
              <font class="header-nav-font">{{ 'W0001' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-exchange header-nav">
            <a href="#">
              <font class="header-nav-font">{{ 'W0002' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-shop header-nav">
            <a href="#">
              <font class="header-nav-font-disabled">{{ 'W0003' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-forum header-nav">
            <a href="#">
              <font class="header-nav-font-disabled">{{ 'W0004' | translate }}</font>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="header-nav-notice header-nav">
            <a href="#">
              <font class="header-nav-font">{{ 'W0005' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-singup header-nav text-center">
            <a href="#">
              <font class="header-nav-font">{{ 'W0007' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-login header-nav text-center">
            <a href="#">
              <font class="header-nav-font">{{ 'W0006' | translate }}</font>
            </a>
          </li>
          <li class="header-nav-wallet header-nav">
            <a href="#">
              <font class="header-nav-font">{{ 'W0008' | translate }}</font>
            </a>
          </li>
          <li ngbDropdown class="header-nav-lang header-nav">
            <a ngbDropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <font class="header-nav-font">{{ langCodeObj.get(translate.currentLang) }}</font>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
              <div class="dropdown-item" (click)="translate.use('en')" href="#">English</div>
              <div class="dropdown-item" (click)="translate.use('ko')" href="#">한국어</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
