.header-body
  width: 1400px
  height: 100%
  margin-right: auto
  margin-left: auto

.tymx-brand, .tymx-logo
  width: 140px !important
  height: 45px !important

.navbar
  height: 100% !important
  height: 100% !important

.header-nav-font
  font-size: 15px
  font-weight: 500
  color: #585858

.header-nav a
  text-decoration: none

////[Feature_G336] 2018-08-02 | header cursor fix
li[class*="header-nav"]
  a
    cursor: pointer

.header-nav-font:hover
  color: #3078ff

.header-nav-font-disabled
  font-size: 15px
  font-weight: 500
  color: #afb2be
  // text-decoration: line-through

.cap
  text-transform: uppercase

.header-nav-items
  font-family: Rubik
  font-size: 13px
  font-weight: 500
  padding: 37px 25px 0px 25px

.header-nav-line
  border-right: 1px solid #ebebeb
  height: 30px
  margin-top: 32.5px

.header-nav-line-fu
  border-right: 1px solid #ebebeb
  margin-bottom: 12px

.header-nav-indent-l
  padding-right: 50px

.header-nav-img
  width: 12px
  height: 12px
  margin-right: 5px
  margin-bottom: 4px

/////////////////////////

.header-nav-about
  margin-left: 60px

.header-nav-exchange
  // padding-left: 25px
  // padding-right: 25px

.header-nav-shop, .header-nav-forum

.header-nav-noti
  padding: 31px 22px 0px 22px
  a
    cursor: pointer

.img-noti
  width: 30px
  height: 30px

.header-nav-account
  padding-right: 25px
  a
    cursor: pointer

.header-nav-login

.header-nav-singup

.header-nav-lang
  width: 155px
  height: 95px
  padding-top: 22.5px
  cursor: pointer
  font-weight: 500
  text-transform: uppercase

.lang-sel-box
  position: relative
  height: 50px
  .national
    position: absolute
    width: 15px
    height: 15px
    left: 25px
    top: 17px
  .right-div
    position: absolute
    width: 12px
    height: 12px
    right: 25px
    top: 19px
  span
    position: absolute
    max-width: 60px
    left: 50px
    padding-top: 14.5px
    font-size: 15px

.header-noti
  position: absolute
  width: 280px
  max-height: 280px
  // top: 105px
  // right: 155px
  z-index: 1000
  // border-radius: 10px

.lang-popover
  position: absolute
  width: 155px
  height: 100px
  left: 50%
  margin-left: 545px
  z-index: 1000
  background-color: white
  border: 1px solid #ebebeb

.header-helper-div
  margin: 0 auto
  width: 1400px
  position: relative
  padding-left: 1120px
