<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">TymX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'W0001' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'W0002' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ 'W0003' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ 'W0004' | translate }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'W0005' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'W0006' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'W0007' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'link_forum' | translate }}</a>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ langCodeObj.get(translate.currentLang) }}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="translate.use('en')" href="#">English</a>
          <a class="dropdown-item" (click)="translate.use('ko')" href="#">한국어</a>
        </div>
      </li>
    </ul>
  </div>
  </nav>
