.dp-qrcode-zone
  margin-top: 55px
  .dp-qr-inner
    height: 25px
    line-height: 25px
    canvas
      width: 5px
      height: 5px
      background: #000
      margin-right: 7px
      margin-bottom: 3px
    p
      display: inline
      height: 25px
      line-height: 25px
      color: #000
      font-size: 15px
      font-weight: 400
  .qr-box
    width: 175px
    height: 175px
    margin-top: 25px
    background-image: url('/assets/img/web_wallet_deposit_qrbox.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    qr-code
      position: relative
      top: 28px
      left: 28px
