<div class="wt-main">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td class="wt-checkbox-td">
          <input type="checkbox" class="wt-checkbox"
            value=""
            [appToggle]="1"
            [isOn] = "isBalance"
            (click) = "toggleIsBalance()" id="wt-checkbox-id"/><label for="wt-checkbox-id"></label>
        </td>
        <td class="wt-poss-td">
          <p>Possessions</p>
        </td>
        <td class="wt-transH-td">
          <a><div class="transH-box">
            <img src="/assets/img/web_wallet_withdrawal_address_list.png" alt="">Transaction History
          </div></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-card class="wallet-crypto">
  <div class="row table-header">
    <div class="coin col-1" (click) = "sortingTable(0)">
      <p>COIN</p>
      <span [appToggle] = "4" [state]="sorting[0].sortingType[sorting[0].sortingState]"><div class="wt-sorting1"></div></span>
    </div>
    <div class="total col-1" (click) = "sortingTable(1)">
      <p>TOTAL</p>
      <span [appToggle] = "4" [state]="sorting[1].sortingType[sorting[1].sortingState]"><div class="wt-sorting1"></div></span>
    </div>
    <div class="available col-1" (click) = "sortingTable(2)">
      <p>AVAILABLE</p>
      <span [appToggle] = "4" [state]="sorting[2].sortingType[sorting[2].sortingState]"><div class="wt-sorting1"></div></span>
    </div>
    <div class="inorder col-1" (click) = "sortingTable(3)">
      <p>INORDER</p>
      <span [appToggle] = "4" [state]="sorting[3].sortingType[sorting[3].sortingState]"><div class="wt-sorting1"></div></span>
    </div>
    <div class="btcvalue col-1" (click) = "sortingTable(4)">
      <p>BTCVALUE</p>
      <span [appToggle] = "4" [state]="sorting[4].sortingType[sorting[4].sortingState]"><div class="wt-sorting1"></div></span>
    </div>
  </div>

  <div *ngIf="isBalance; then isBalanceTemp else isNotBalanceTemp"></div>
  <ng-template #isNotBalanceTemp>
    <div *ngFor="let row of cryptoBase" class="row table-body wt-above-main">
      <div class="coin-img"><img /></div>
      <div class="coin col-1">{{ row.name }}<br><font class="wt-below">{{ row.abbre }}</font></div>
      <div class="total col-1">{{ row.total }}</div>
      <div class="available col-1">{{ row.available }}</div>
      <div class="inorder col-1">{{ row.inOrder }}</div>
      <div class="btcvalue col-1">{{ row.byBtc }}<br><font class="wt-below">$ {{ row.byUsd }}</font></div>
      <div class="deposit col-1">
        <a [routerLink]="['/wallet/deposit', row.abbre.toLowerCase()]">Deposit</a>
      </div>
      <div class="withdrawal col-1">
        <a [routerLink]="['/wallet/withdrawal', row.abbre.toLowerCase()]">WithDrawal</a>
      </div>
      <div class="trade col-1">
        <button *ngIf="row.trade.length > 0" class="active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <button *ngIf="row.trade.length == 0" class="not-active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <div *ngIf="row.tradeVisible">
          <div *ngFor="let trade of row.trade">
            <a [routerLink]="['/trade', trade.toLowerCase().replace('/','-')]">{{ trade }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wt-division"></div>
    <div *ngFor="let row of cryptoNoneBase" class="row table-body wt-below-main">
      <div class="coin-img"><img /></div>
      <div class="coin col-1">{{ row.name }}<br><font class="wt-below">{{ row.abbre }}</font></div>
      <div class="total col-1">{{ row.total }}</div>
      <div class="available col-1">{{ row.available }}</div>
      <div class="inorder col-1">{{ row.inOrder }}</div>
      <div class="btcvalue col-1">{{ row.byBtc }}<br><font class="wt-below">$ {{ row.byUsd }}</font></div>
      <div class="deposit col-1">
        <a [routerLink]="['/wallet/deposit', row.abbre.toLowerCase()]">Deposit</a>
      </div>
      <div class="withdrawal col-1">
        <a [routerLink]="['/wallet/withdrawal', row.abbre.toLowerCase()]">WithDrawal</a>
      </div>
      <div class="trade col-1">
        <button *ngIf="row.trade.length > 0" class="active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <button *ngIf="row.trade.length == 0" class="not-active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <div *ngIf="row.tradeVisible">
          <div *ngFor="let trade of row.trade">
            <a [routerLink]="['/trade', trade.toLowerCase().replace('/','-')]">{{ trade }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wt-border-helper"></div>
  </ng-template>


  <ng-template #isBalanceTemp>
    <div *ngFor="let row of balanceBase" class="row table-body wt-above-main">
      <div class="coin-img"><img /></div>
      <div class="coin col-1">{{ row.name }}<br><font class="wt-below">{{ row.abbre }}</font></div>
      <div class="total col-1">{{ row.total }}</div>
      <div class="available col-1">{{ row.available }}</div>
      <div class="inorder col-1">{{ row.inOrder }}</div>
      <div class="btcvalue col-1">{{ row.byBtc }}<br><font class="wt-below">$ {{ row.byUsd }}</font></div>
      <div class="deposit col-1">
        <a [routerLink]="['/wallet/deposit', row.abbre.toLowerCase()]">Deposit</a>
      </div>
      <div class="withdrawal col-1">
        <a [routerLink]="['/wallet/withdrawal', row.abbre.toLowerCase()]">WithDrawal</a>
      </div>
      <div class="trade col-1">
        <button *ngIf="row.trade.length > 0" class="active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <button *ngIf="row.trade.length == 0" class="not-active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <div *ngIf="row.tradeVisible">
          <div *ngFor="let trade of row.trade">
            <a [routerLink]="['/trade', trade.toLowerCase().replace('/','-')]">{{ trade }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wt-division"></div>
    <div *ngFor="let row of balanceNoneBase" class="row table-body wt-below-main">
      <div class="coin-img"><img /></div>
      <div class="coin col-1">{{ row.name }}<br><font class="wt-below">{{ row.abbre }}</font></div>
      <div class="total col-1">{{ row.total }}</div>
      <div class="available col-1">{{ row.available }}</div>
      <div class="inorder col-1">{{ row.inOrder }}</div>
      <div class="btcvalue col-1">{{ row.byBtc }}<br><font class="wt-below">$ {{ row.byUsd }}</font></div>
      <div class="deposit col-1">
        <a [routerLink]="['/wallet/deposit', row.abbre.toLowerCase()]">Deposit</a>
      </div>
      <div class="withdrawal col-1">
        <a [routerLink]="['/wallet/withdrawal', row.abbre.toLowerCase()]">WithDrawal</a>
      </div>
      <div class="trade col-1">
        <button *ngIf="row.trade.length > 0" class="active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <button *ngIf="row.trade.length == 0" class="not-active" (click)="toggleTradeDropdown(row.id, !row.tradeVisible)">Trade</button>
        <div *ngIf="row.tradeVisible">
          <div *ngFor="let trade of row.trade">
            <a [routerLink]="['/trade', trade.toLowerCase().replace('/','-')]">{{ trade }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wt-border-helper"></div>
  </ng-template>
</mat-card>
