<div class="row nopadding order-history-title">
  <p class="col-date">Date</p>
  <p class="col-pair">Pair</p>
  <p class="col-type">Type</p>
  <p class="col-order">Order</p>
  <p class="col-price">Price</p>
  <p class="col-amount">Amount</p>
  <p class="col-filled">Filled</p>
  <p class="col-total">Total</p>
  <p *ngIf="isOpenOrders" class="col-cancel">Cancel</p>
  <p *ngIf="!isOpenOrders" class="col-status">Status</p>
</div>
<div *ngFor="let value of orderData" class="row nopadding order-history-row">
  <p class="col-date">{{ value.ct }}</p>
  <p class="col-pair">{{ value.pair }}</p>
  <p class="col-type">{{ value.order_type }}</p>
  <p class="col-order" [appRealTimeColor]="getType(value.bidask)">{{ value.bidask }}</p>
  <p class="col-price">{{ value.price }}</p>
  <p class="col-amount">{{ value.original_volume }}</p>
  <p class="col-filled">{{ value.original_volume - value.volume }}</p>
  <p class="col-total">{{ value.original_volume * value.price }}</p>
  <p *ngIf="isOpenOrders" class="col-cancel"><a (click) = "cancelOrder(value.id)">Cancel</a></p>
  <p *ngIf="!isOpenOrders" class="col-status">{{ value.status }}</p>
</div>
<div *ngIf="!isOpenOrders" class="see-all">
  <a href="#">See All</a>
</div>
