.trade-body {
  position: relative;
  margin-top : 75px;
  height: 2000px;
}
.trade-pair-info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 585px;
}
.trade-chart {
  position: absolute;
  width: 750px;
  height: 524px;
  left: 360px;
  top: 0px;
  border-radius: 10px;
}
.trade-app-coin-info {
  width: 750px;
  height: 130px;
}
.bid-ask-table {
  position: absolute;
  right: 0px;
  width: 280px;
  height: 524px;
  border-radius: 10px;
}
.trade-history {
  position: absolute;
  right: 0px;
  top : 534px;
  border-radius: 10px;
  width: 280px;
  height: 378px;
}
.trading {
  position: absolute;
  width: 750px;
  height: 378px;
  top: 534px;
  right: 290px;
  border-radius: 10px;
}
