<main role="main">
  <div role="main" class="main main-body">
    <div class="trade-body">
      <div class="trade-pair-info">
        <app-pair-info></app-pair-info>
      </div>
      <mat-card class="trade-chart nopadding">
        <div class="trade-app-coin-info">
          <app-coin-info></app-coin-info>
        </div>
        <app-chart></app-chart>
      </mat-card>
      <mat-card class="bid-ask-table nopadding">
        <app-bid-ask-table></app-bid-ask-table>
      </mat-card>
      <mat-card class="trade-history nopadding">
        <app-trade-history></app-trade-history>
      </mat-card>
      <mat-card class="trading nopadding">
        <app-trading></app-trading>
      </mat-card>
      <mat-card class="order nopadding">
        <app-order></app-order>
      </mat-card>
    </div>
  </div>
</main>
