.area-main-divide
  height: 720px
  width: 1400px !important
  margin-top: 30px !important

.nav-outer
  max-width: 1400px !important

.c8-table
  border: solid 1px #ebebeb

.main-l
  margin-right: 20px !important
  border-radius: 2px
  border: 1px solid #e0e0e8

.main-r
  max-width: 31.9% !important
  border-radius: 2px
  border: 1px solid #e0e0e8
