.main-body {
  width: 100%;
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
.area-main-divide {
  height: 720px;
  width: 1400px !important;
  margin-top: 30px !important;
}
.nav-outer {
  max-width: 1400px !important;
}
