<a [routerLink]="['/account']">{{ 'W0009' | translate }}</a>
<p>></p>
<p>{{ 'W0166' | translate }}</p>
<div>
  <!-- step 1 -->
  <div>
    <input type="button" value = "{{ 'W0167' | translate }}"/>
    <p [innerHTML] = "'S0050' | translate"></p>
    <span>[GOOGLE AUTH IMG]</span>
    <a>Download app store</a>
    <a>Download google play</a>
    <p>- {{'S0051' | translate }}</p>
  </div>
  <!-- step 2 -->
  <div>
    <input type="button" value = "{{ 'W0168' | translate }}"/>
    <p [innerHTML] = "'S0052' | translate"></p>
    <p>{{ 'W0170' | translate }}</p>
    <div class="qr-box">
      <qr-code [value]="viewModel.key" [size]="120"></qr-code>
    </div>
    <p>{{ 'W0171' | translate }}</p>
    <p>Kxtre0124s3r0</p>
    <div>
      <p>- {{ 'S0053' | translate }}</p>
      <p>- {{ 'S0054' | translate }}</p>
    </div>

  </div>
  <!-- step 3 -->
  <div>
    <input type="button" value = "{{ 'W0169' | translate }}"/>
    <p [innerHTML] = "'S0055' | translate"></p>
    <p>{{ 'W0172' | translate }}</p>
    <input type="text" [(ngModel)] = "viewModel.password" (input)="inCurrPw($event.target.value)"/>
    <div *ngIf="viewModel.isPwErr">
      <img src="/assets/img/web_wallet_withdrawal_error.png" />
      <p>{{ viewModel.pwErrMsg }}</p>
    </div>
    <p>{{ 'W0116' | translate }}</p>
    <input type="text" [(ngModel)] = "viewModel.authCode" (input)="inCurrAuth($event.target.value)"/>
    <div *ngIf="viewModel.isAuthErr">
      <img src="/assets/img/web_wallet_withdrawal_error.png" />
      <p>{{ viewModel.authErrMsg }}</p>
    </div>
    <input type="button" value="{{ 'W0173' | translate }}" (click) = "auth()"/>
  </div>
</div>
