<div class="wallet-modulate">
  <p class="wallet-title">
    <canvas class="wallet-tt-cv"></canvas>
    <a>Balances</a>
    <font class="angle-barcket">&gt;</font>
    <a>Transaction History</a>
  </p>
<div>
  <mat-tab-group
    [disableRipple]="true" [@.disabled]="true" [selectedIndex]="selectedTab">
    <mat-tab label="Deposit">
      <app-deposit-history></app-deposit-history>
    </mat-tab>
    <mat-tab label="WithDrawal">
      <app-withdraw-history></app-withdraw-history>
    </mat-tab>
    <div class="sadfsadfsdf">

    </div>
  </mat-tab-group>
</div>
