.row-noti {
  display: block;
  height: 50px !important;
  padding-left: 15px !important;
  font-size: 11px;
  cursor: pointer;
  border-bottom: 1px solid #f4f4f4 !important;
}
.row-noti .noti-info {
  height: 15px;
  color: #3078ff;
  padding-top: 10px !important;
}
.row-noti .noti-date {
  height: 15px;
  color: #585858;
  padding-top: 10px !important;
}

.noti-all {
  display: block;
  height: 30px;
  font-size: 13px;
  padding-right: 15px !important;
  padding-top: 3px !important;
  text-align: right;
  text-decoration: underline !important;
  color: #3078ff !important;
  cursor: pointer;
}
