<div class="login-modulate">
  <mat-card class="auth-signup auth-login nopadding" *ngIf="!viewModel.isEndSignup">
    <div class="sg-inner-box">
      <p class="sg-header">{{ "W0007" | translate }}</p>
      <div class="sg-input-box">
        <img class="sg-input-img" src="/assets/img/email.png">
        <input type="text" placeholder="{{ 'W0121' | translate }}" [(ngModel)]="viewModel.email" (input)="inputEmail($event.target.value)" />
      </div>
      <div class="sg-email-error-box" *ngIf="viewModel.isEmailErr">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ viewModel.emailErrMsg }}</p>
      </div>
      <div class="sg-input-box">
        <img class="sg-input-img" src="/assets/img/password.png">
        <input type="password" placeholder="{{ 'W0122' | translate }}" [(ngModel)]="viewModel.pw" (input)="inputPw($event.target.value)" />
      </div>
      <div class="sg-passwd-error-box" *ngIf="viewModel.isPwErr">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ viewModel.pwErrMsg }}</p>
      </div>
      <div class="sg-input-box">
        <img class="sg-input-img" src="/assets/img/confirmpassword.png">
        <input type="password" placeholder="{{ 'W0126' | translate }}" [(ngModel)]="viewModel.rePw" (input)="inputRePw($event.target.value)" />
      </div>
      <div class="sg-passwd-confirm-error-box" *ngIf="viewModel.isRePwErr">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ viewModel.rePwErrMsg }}</p>
      </div>
      <div class="sg-agree-box">
        <input type="checkbox" (click)="checkTermToggle()" [appToggle]="2" [isOn]="viewModel.isCheckTerms" id="sg-agree-checkbox" />
        <label [appToggle]="2" [isOn]="viewModel.isCheckTerms" for="sg-agree-checkbox"></label>
        <div class="sg-en-box" *ngIf="viewModel.lang=='en'">
          <p class="agree-msg">{{ 'W0180' | translate }}</p>
          <a class="terms-msg">{{ 'W0181' | translate }}</a>
        </div>
        <div class="sg-ko-box" *ngIf="viewModel.lang!='en'">
          <a class="terms-msg">{{ 'W0181' | translate }}</a>
          <p class="agree-msg">{{ 'W0180' | translate }}</p>
        </div>
      </div>
      <div class="sg-agree-error-box" *ngIf="viewModel.isCheckTermsErr">
        <img class="sg-error" src="/assets/img/web_wallet_withdrawal_error.png" />
        <p>{{ 'S0027' | translate }}</p>
      </div>
      <input class="sg-signup-button" type="button" (click)="signup()" value="{{ 'W0007' | translate }}" />
    </div>
  </mat-card>

  <!--이메일 인증 -->
  <mat-card class="auth-email auth-login nopadding" *ngIf="viewModel.isEndSignup">
    <div class="sg-inner-box">
      <img class="em-icon" src="/assets/img/email_verification_title.png">
      <p class="em-header">{{ 'W0128' | translate }}</p>
      <div *ngIf="viewModel.lang=='en'">
        <p class="em-msg">{{ 'S0028' | translate }}
          <font class="em-email-info">{{ viewModel.email }}</font><br /> {{ 'S0029' | translate }}</p>
      </div>
      <div *ngIf="viewModel.lang!='en'">
        <p class="em-msg"><font class="em-email-info">{{ viewModel.email }}</font>{{ 'S0028' | translate }}
          <br /> {{ 'S0029' | translate }}</p>
      </div>
      <div class="em-division"></div>
      <p class="em-below-msg">{{ 'S0030' | translate }}</p>
      <input class="em-below-button" type="button" (click)="resend()" value="{{ 'W0129' | translate }}" />
      <div class="em-division"></div>
      <p class="em-below-msg">{{ 'S0031' | translate }}</p>
      <input class="em-below-button mbt-20" type="button" (click)="login()" value="{{ 'W0006' | translate }}" />
      <div class="em-divsion-line"></div>
      <p class="em-fn-msg">{{ 'S0032' | translate }}</p>
      <!--여긴 건드리지 말것~~-->
    </div>
  </mat-card>
</div>
<!--여긴 건드리지 말것~~-->
<div *ngIf="viewModel.isEndSignup">
  <input type="text" [(ngModel)]="viewModel.confirmCode" />
  <input type="button" (click)="confirm()" value="confirm" />
</div>
