<div class="row">
  <p class="col-2">Date</p>
  <p class="col-1">Coin</p>
  <p class="col-1">Amount</p>
  <p class="col-1">Status</p>
  <p class="col-4">Detail</p>
  <a *ngIf="seeAll" class="col-1" [routerLink]="['/wallet/transaction', routerId]">SeeAll</a>
  <p class="col-1" (click)="reloadHistory()">Refresh</p>
</div>
<div class="row" *ngFor="let row of viewModel">
  <p class="col-2">{{row.ct | amTz:"America/New_York" | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</p>
  <p class="col-1">{{ row.abbre }}</p>
  <p class="col-1">{{ row.amount }}</p>
  <p class="col-1">{{ row.status }}</p>
  <div class="col-4">
    <p>Address: {{ row.counter_addr }}</p>
    <p [appToggle]='0' [isOn] = 'row.txVisible'>TxID: {{ row.counter_addr }}</p>
  </div>
  <span class="col-1" (click)="toggleOpen(row)" [appToggle]='1' [isOn] = 'row.txVisible'>Open</span>
</div>
