<div class="row nopadding bid-ask-table-header">
  <div class="col-4 nopadding table-price">Price(TMX)</div>
  <div class="col-4 nopadding table-amount">Amount(TMX)</div>
  <div class="col-4 nopadding table-total">Total(TMX)</div>
</div>
<div class="ask">

  <div (click)="changeTableType(btnAskType)">
    <input
      type="button" class="arrow-down" [appBidAskButton]="btnAskType" [askBidTableType]="tableType">
  </div>
  <p>ASK</p>
</div>
<div class="ask-table-layer" [appAskTableHeight]="tableType">
  <div class="row ask-table" *ngFor="let value of getAskList()">
    <p class="col-4 nopadding price">{{ value.price }}</p>
    <p class="col-4 nopadding amount">{{ value.amount }}</p>
    <p class="col-4 nopadding total">{{ value.total }}</p>
  </div>
</div>

<div class="bid-ask-divider"></div>
<div class="bid-table-layer" [appBidTableHeight]="tableType">
  <div class="row bid-table"  *ngFor="let value of getBidList()">
    <p class="col-4 nopadding price">{{ value.price }}</p>
    <p class="col-4 nopadding amount">{{ value.amount }}</p>
    <p class="col-4 nopadding total">{{ value.total }}</p>
  </div>
</div>

<div class="bid">
  <div (click)="changeTableType(btnBidType)">
    <input
      type="button" class="arrow-up" [appBidAskButton]="btnBidType" [askBidTableType]="tableType">
  </div>
  <p>Bid</p>
</div>
