<mat-card class="deposit-note nopadding">
<div class="dn-header">
  <img src="/assets/img/web_wallet_deposit_notice.png">
  Note
</div>
<ul class="dn-main">
  <li><div class="dn-list-image"></div>Coins blah blah~~~~</li>
  <li><div class="dn-list-image"></div>Coins blah blah~~~~</li>
  <li><div class="dn-list-image"></div>Coins blah blah~~~~</li>
  <li><div class="dn-list-image"></div>Coins blah blah~~~~ Coins blah blah~~~~ Coins blah blah~~~~ Coins blah blah~~~~ Coins blah blah~~~~ Coins blah blah~~~~ Coins blah blah~~~~</li>
</ul>
</mat-card>
