<div class="account-modulate">
  <p class="wallet-title wt-s-auth">
    <canvas class="wallet-tt-cv"></canvas>
    <a [routerLink]="['/account']">{{ 'W0009' | translate }}</a>
    <font class="angle-barcket">&gt;</font>
    <a class="select-default">{{ 'W0174' | translate }}</a>
  </p>
  <!--phone number-->
  <mat-card class="s-auth nopadding">
    <div ngbDropdown class="sa-input-area d-inline-block">
      <p class="sa-title">{{ 'W0175' | translate }}</p>
      <button class="sa-area-select btn btn-outline-primary" id="dropdownCode" ngbDropdownToggle>{{ viewModel.code }}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownCode">
        <button class="dropdown-item" *ngFor="let row of codeList" (click)="selCountry(row.country_code)">{{ row.country }} <font class="sa-con-code">{{ row.code }}</font></button>
      </div>
    </div>
    <!-- 입력하는중 -->
    <div class="sa-input-box sa-phone" *ngIf="viewModel.smsSendCount <= 0">
      <input class="sa-input" type="text" [(ngModel)]="viewModel.cellNum" (input)="inputCell($event.target.value)" />
      <input class="sa-send" type="button" value="{{ 'W0120' | translate }}" (click)="send()" />
    </div>
    <!-- 보내고 난 이후 -->
    <div *ngIf="viewModel.smsSendCount > 0">
      <input class="sa-input sa-phone" type="text" [(ngModel)]="viewModel.cellNum" readonly/>
      <p class="sa-countdown select-default">{{ viewModel.smsSendCount }}</p>
    </div>

    <div class="sa-error-box sa-phone-error" *ngIf="viewModel.isCellErr">
      <img src="/assets/img/web_wallet_withdrawal_error.png" />
      <p>{{ viewModel.cellErrMsg }}</p>
    </div>


    <!--SMS Auth code -->
    <p class="sa-title">{{ 'W0119' | translate }}</p>
    <input class="sa-input-box sa-sms" type="text" [(ngModel)]="viewModel.authCode" (input)="inputAuth($event.target.value)" />
    <div class="sa-error-box sa-sms-error" *ngIf="viewModel.isAuthErr">
      <img src="/assets/img/web_wallet_withdrawal_error.png" />
      <p>{{ viewModel.authErrMsg }}</p>
    </div>
    <input class="sa-authenticate" type="button" value="{{ 'W0173' | translate }}" (click)="auth()" />
  </mat-card>
</div>
