<div class="area-tymx-token-quotes">
  <!--
  <div class="row area-token-quotes-tab">
    <div class="token-quote-tab tab-active text-center">TMX</div>
    <div class="token-quote-tab text-center">TMX</div>
    <div class="token-quote-tab text-center">TMX</div>
  </div>
  <div class="row area-token-quotes-list">
    <div class="pre-scrollable scrollable">
      <div class="row token-quote-table-header">
        <div class="title-pair">{{ 'W0010' | translate }}</div>
        <div class="title-price text-center">{{ 'W0011' | translate }}</div>
        <div class="title-change text-center">{{ 'W0012' | translate }}</div>
        <div class="title-volume text-center">{{ 'W0013' | translate }}</div>
        <div class="title-sports text-center">{{ 'W0014' | translate }}</div>
      </div>
      <a class="row token-quote-list" *ngFor="let value of quotesValues"
        [routerLink]="['/trade', value.pair.toLowerCase().replace('/','-')]">
        <div class="favorite">
          <input type="button" class="favorite-button">
        </div>
        <img class="token-img"/>
        <div class="token-name align-middle">{{ value.pair }}</div>
        <div class="price text-center">{{ significantFig(value.price) }}</div>
        <div [appRealTimeColor]="value.changepct24" class="change text-center">{{ value.changepct24.toFixed(2) }}%</div>
        <div class="volume text-center">{{ value.volume24 }}</div>
        <div class="sports text-center">{{ 'W0015' | translate }}</div>
      </a>
    </div>
  </div>
  -->
  <mat-tab-group [disableRipple]="true"
    [@.disabled]="true" (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let base of baseLists" label={{base}} ></mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <img class="tab-favorite" src="/assets/img/trading_market_tab_favorite.png"/>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="row area-token-quotes-list">
    <div class="pre-scrollable scrollable">
      <div class="row token-quote-table-header">
        <div class="title-pair">{{ 'W0010' | translate }}</div>
        <div class="title-price text-center">{{ 'W0011' | translate }}</div>
        <div class="title-change text-center">{{ 'W0012' | translate }}</div>
        <div class="title-volume text-center">{{ 'W0013' | translate }}</div>
        <div class="title-sports text-center">{{ 'W0014' | translate }}</div>
      </div>
      <a class="row token-quote-list" *ngFor="let value of dataSource"
        (click) = "routeTo(value.pair.toLowerCase().replace('/','-'))">
        <div class="favorite">
          <input type="button" (click)="setFavorite($event, value.pair)"
            class="favorite-button" [appToggle]='3' [isOn]="isFavorite(value.pair)">
        </div>
        <img class="token-img"/>
        <div class="token-name align-middle">{{ value.pair }}</div>
        <div class="price text-center">{{ significantFig(value.price) }}</div>
        <div [appRealTimeColor]="value.changepct24" class="change text-center">{{ value.changepct24.toFixed(2) }}%</div>
        <div class="volume text-center">{{ value.volume24 }}</div>
        <div class="sports text-center">{{ 'W0015' | translate }}</div>
      </a>
    </div>
  </div>
</div>
