<p class="account-title">{{ 'W0152' | translate}}</p>
<div class="row at-header-row">
  <p>{{ 'W0121' | translate}}</p>
  <!-- <p>{{ 'W0118' | translate}}</p> -->
</div>
<div class="row at-option-row">
  <p>{{ 'W0006' | translate}}</p>
  <mat-slide-toggle [checked]="viewModel.isLoginEmail">
  </mat-slide-toggle>
  <!-- <mat-slide-toggle [checked]="viewModel.isLoginSms"> -->
  <!-- </mat-slide-toggle> -->
</div>
<div class="row at-option-row">
  <p>{{ 'W0086' | translate}}</p>
  <mat-slide-toggle [checked]="viewModel.isTradeEmail">
  </mat-slide-toggle>
  <!-- <mat-slide-toggle [checked]="viewModel.isTradeSms"> -->
  <!-- </mat-slide-toggle> -->
</div>
<div class="row at-option-row">
  <p>{{ 'W0084' | translate}}</p>
  <mat-slide-toggle [checked]="viewModel.isDepositEmail">
  </mat-slide-toggle>
  <!-- <mat-slide-toggle [checked]="viewModel.isDepositSms"> -->
  <!-- </mat-slide-toggle> -->
</div>
<div class="row at-option-row">
  <p>{{ 'W0085' | translate}}</p>
  <mat-slide-toggle [checked]="viewModel.isWithdrawalEmail">
  </mat-slide-toggle>
  <!-- <mat-slide-toggle [checked]="viewModel.isWithdrawalSms"> -->
  <!-- </mat-slide-toggle> -->
</div>
