<footer class="footer">
  <div class="footer-body">
    <div class="footer-tymx-link">
      <img class="footer-tymx-logo" src="/assets/img/web_footer_logo.png"/>
      <a class="footer-tymx-telegram"></a>
      <a class="footer-tymx-facebook"></a>
      <a class="footer-tymx-insta"></a>
      <a class="footer-tymx-twitter"></a>
    </div>
    <!-- Fixed navbar -->
    <ul class="nav footer-nav">
      <li class="nav-about">
        <a href="#">
          <font class="footer-nav-font">{{ 'W0001' | translate }}</font>
        </a>
      </li>
      <li class="nav-terms">
        <a href="#">
          <font class="footer-nav-font">{{ 'W0016' | translate }}</font>
        </a>
      </li>
      <li class="nav-privacy">
        <a href="#">
          <font class="footer-nav-font">{{ 'W0017' | translate }}</font>
        </a>
      </li>
      <li class="nav-api">
        <a href="#">
          <font class="footer-nav-font">{{ 'W0018' | translate }}</font>
        </a>
      </li>
      <li class="nav-notice">
        <a href="#">
          <font class="footer-nav-font">{{ 'W0005' | translate }}</font>
        </a>
      </li>
      <li class="nav-copyrights">
        <font class="footer-nav-font">ⓒ 2018 tymx.com AllRights Reserved</font>
      </li>
    </ul>
  </div>
</footer>
