.footer {
  background-color: #282828;
  margin-top: 50px;
}
.footer-body {
  width: 1400px;
  height: 285px;
  margin-right: auto;
  margin-left: auto;
  background-color: #282828;
}
.footer-tymx-link {
  position: relative;
  height: 210px;
  border-bottom: 2px solid #585858;
}
.footer-tymx-logo {
  position: absolute;
  width: 180px;
  height: 60px;
  top: 75px;
}
.footer-tymx-telegram {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 230px;
  background : url("/assets/img/web_footer_telegram.png") no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-tymx-telegram:hover {
  background : url("/assets/img/web_footer_telegram_mouse.png") no-repeat;
  background-size: cover;
}
.footer-tymx-facebook {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 160px;
  background : url("/assets/img/web_footer_facebook.png") no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-tymx-facebook:hover {
  background : url("/assets/img/web_footer_facebook_mouse.png") no-repeat;
  background-size: cover;
}
.footer-tymx-insta {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 90px;
  background : url("/assets/img/web_footer_insta.png") no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-tymx-insta:hover {
  background : url("/assets/img/web_footer_insta_mouse.png") no-repeat;
  background-size: cover;
}
.footer-tymx-twitter {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 20px;
  background : url("/assets/img/web_footer_twitter.png") no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer-tymx-twitter:hover {
  background : url("/assets/img/web_footer_twitter_mouse.png") no-repeat;
  background-size: cover;
}
.footer-nav {
  position : relative;
}
.footer-nav a {
  text-decoration: none;
}
.nav-about {
  margin-left: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
}
.nav-terms {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
}
.nav-privacy {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
}
.nav-api {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
}
.nav-notice {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
}
.nav-copyrights {
  position: absolute;
  right: 25px;
  padding-top: 28px;
}
.footer-nav-font {
  color: #585858;
  font-size: 15px;
}
