/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f6f6f6;
}
header {
  background-color: #ffffff;
  height : 95px;
}
footer {
  background-color: #ffffff;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.scrollable {
  height: 100% !important;
  width: 100% !important;
  max-height: none !important;
  overflow-x: hidden !important;
}
.row {
  margin-left: 0px !important;
}
