/* You can add global styles to this file, and also import other style files
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i')

\:lang(en)
  font-family: 'Rubik', sans-serif

body
  position: relative
  background-color: #ffffff

header
  background-color: #ffffff
  height: 70px
  border-bottom: 1px solid #ebebeb

footer
  background-color: #ffffff
  margin-top: 70px !important

img
  background-position: center
  background-repeat: no-repeat
  background-size: contain

.mat-tab-label-content
  user-select: none

.mat-card
  border-radius: 2px !important
  box-shadow: none !important
  border: solid 1px #e0e0e8

.main-body
  width: 100%
  width: 1400px
  margin-right: auto
  margin-left: auto
  height: auto

.nopadding
  padding: 0 !important
  margin: 0 !important

.scrollable
  height: 100% !important
  width: 100% !important
  max-height: none !important
  overflow-x: hidden !important

.row
  margin-left: 0px !important

/**material design custom*

.mat-tab-body-wrapper.sample
  color: white

.pair-info-tab
  .mat-tab-label
    background-color: transparent !important
    border-radius: 30px !important
    z-index: 999 !important
    min-width: 70px !important
    width: 70px !important
    height: 30px !important
    opacity: 1
  .mat-tab-label:focus:not(.mat-tab-disabled), .mat-tab-label-active
    color: white !important
    transition: color .5s cubic-bezier(0.74, 0.63, 0.23, 0.44) !important
    opacity: 1 !important
  .mat-tab-label[aria-selected="false"]
    color: black !important
    transition: color .5s cubic-bezier(0.74, 0.63, 0.23, 0.44) !important
    opacity: 1 !important

.mat-tab-group.pair-info-tab.mat-primary .mat-ink-bar, .mat-tab-nav-bar.pair-info-tab.mat-primary .mat-ink-bar
  background: #3078ff !important
  height: 30px !important
  border-radius: 2px !important
  width: 70px !important
  z-index: 10 !important

.mat-tab-header
  border-bottom: none !important

.order-tab-default
  .mat-tab-header
    border-bottom: none !important
  .mat-tab-body-content
    overflow: hidden
  .mat-tab-labels
    /* border-bottom: 1px solid black !important;
    height: 33px !important
    margin-top: 12px
    border-bottom: 3px #f4f4f4 solid
  .mat-tab-label-active
    font-size: 17px
    font-weight: bold
    color: black !important
  .mat-tab-label
    height: 33px !important
    background-color: transparent !important
    color: #afb2be
    opacity: 1
    padding-top: 7px
  .mat-tab-label-content
    height: 33px !important
    font-size: 17px
    font-weight: 500
  .mat-ink-bar
    background: #3078ff !important
    height: 3px
    z-index: 10 !important

.order-tab .mat-ink-bar
  width: 157px !important

.order-history-tab .mat-ink-bar
  height: 3px
  width: 185px !important

.order-tab
  .mat-ink-bar
    width: 157px !important
  .mat-tab-labels
    width: 314px !important
    margin-left: 30px

.order-history-tab .mat-tab-labels
  width: 370px !important
  margin-left: 30px

.order-tab .mat-tab-label
  width: 157px !important

.order-history-tab
  .mat-tab-labels
    width: 370px !important
    margin-left: 30px
  .mat-tab-label
    width: 185px !important

//[IE css 핵]
//https://gist.github.com/vidaaudrey/c16774076391d09e7ec7dbb7ed7a3189
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .order-history-tab
    #mat-tab-label-3-1
      .mat-tab-label-content
        position: relative
        right: 11px

/**angular material bug see : https://github.com/angular/material2/issues/7291" 개귀찮..;;

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition
  opacity: 0

.mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer
  transform: rotate(-45deg)

.mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer
  transform: rotate(45deg)

.tab-favorite
  z-index: 1000 !important
  width: 13px
  height: 13px
  margin-bottom: 3px

.area-tymx-token-quotes
  mat-tab-group > mat-tab-header > div.mat-tab-label-container > div > div
    background-color: #f5f5f5 !important
    & > div
      height: 60px !important
      width: 85px !important
      min-width: 85px !important
      font-size: 14px !important
      font-weight: 500 !important
      &:hover
        color: #3078ff !important
        opacity: 1
      &[aria-selected="true"]
        color: #3078ff !important
        opacity: 1
      &:not(.mat-tab-disabled):focus
        background-color: #f5f5f5 !important

.mat-tab-labels
  background-color: white !important

.mat-ink-bar
  background-color: #3078ff !important

// pair-info

mat-tab-group.pair-info-tab
  mat-tab-header
    div.mat-tab-label-container
      margin-bottom: 10px
      border: 1px solid #e0e0e8 !important
      border-radius: 2px

.pair-info-card
  height: 482px !important
  .mat-header-row
    padding: 0px !important
  mat-header-cell.mat-column-pair
    min-width: 150px
    padding-left: 15px

.mat-header-row.ng-star-inserted
  mat-header-cell:not(.cdk-column-pair)
    .mat-sort-header-container
      float: right
  mat-header-cell
    font-size: 11px !important
    color: #585858 !important

.mat-sort-header-arrow
  margin: 0 10px 0 5px !important

.nopadding.mat-row.ng-star-inserted
  mat-cell
    font-weight: 500
    font-size: 13px
    /**
      1. 매직 넘버. 'mat-cell:not(.mat-column-pair)'의 left 값은 정렬 시키기 위해
      찾은 임의의 값이다. 가능하다면, 적절하게 고쳐야 할 듯.
      */
  mat-cell:not(.mat-column-pair)
    position: relative
    left: -13px
    text-align: right
  mat-cell.mat-column-pair
    a
      line-height: 15px !important
    min-width: 140px
  mat-cell.mat-column-price
    min-width: 110px
  mat-cell.mat-column-changepct24
    min-width: 90px
    word-wrap: normal

mat-card-content.mat-card-content
  mat-table.mat-table[role="grid"]
    mat-row.nopadding.mat-row.ng-star-inserted[role="row"]
      border-bottom-color: #f4f4f4

// buy order

mat-card.order, .sell-order, .buy-order
  .mat-tab-label
    transition: color 0.3s cubic-bezier(0.61, 0.47, 0.37, 1.09) !important


//wallet-crypto

mat-card.wallet-crypto
  padding: 0px
  margin-bottom: 230px
  border: none
  // div:not(.wt-below-main):not(.table-header):last-child
  //   margin-bottom: 25px
  .wt-division
    height: 25px
    border-top: solid 1px #e0e0e8
  .wt-division + div
    border-top: solid 1px #e0e0e8
  div.table-header
    margin-right: 0px
    border: solid 1px #e0e0e8
    height: 58px
    user-select: none
    font-size: 13px
    font-weight: 400
    color: #989bab
    & > div > span[ng-reflect-state="default"] > div
      background: url('/assets/img/web_wallet_list_arrow_off.png')
    & > div > span[ng-reflect-state="asc"] > div
      background: url('/assets/img/web_wallet_list_arrow_bottom.png')
    & > div > span[ng-reflect-state="desc"] > div
      background: url('/assets/img/web_wallet_list_arrow_top.png')
    .wt-sorting1
      width: 15px
      height: 15px
      background-position: center !important
      background-size: contain !important
      background-repeat: no-repeat !important
      position: relative
      top: 2px
    .total, .available, .inorder, .btcvalue, .deposit, .withdrawal, .trade
      min-width: 170px
      text-align: right
      padding: 0px
    div
      padding: 0px
      line-height: 58px
      p, span
        display: inline-block
    .coin
      margin-left: 25px
      min-width: 144px
  & > div:not(.table-header):not(.wt-border-helper):not(.wt-division)
    border-bottom: 1px solid #f4f4f4
    margin-right: 0px
    & > div:not(.trade):last-child
      border-bottom: none !important
    .total, .available, .inorder, .btcvalue, .deposit, .withdrawal, .trade
      min-width: 170px
      text-align: right
      padding: 0px
      font-size: 15px
      font-weight: 15px
      color: #000
      &:not(.btcvalue)
        padding-top: 20px
    .btcvalue, .coin
      padding-top: 12px
    .btcvalue
      .wt-below
        color: #989bab
    .coin
      font-size: 15px
      font-weight: 500
      color: #000
    .coin-img
      width: 25px
      height: 25px
      margin-left: 25px
      border: solid 1px #e0e0e8
      margin-top: 21px
    .wt-below
      font-size: 13px
      font-weight: 400
    .deposit, .withdrawal, .trade
      min-width: 100px
      max-width: 100px
      width: 100px
      text-align: center
      margin-right: 30px
      &:not(.trade)
        a
          vertical-align: bottom
          border: 1px solid #000
          border-radius: 2px
          width: 100px
          min-width: 100px
          height: 25px
          display: inline-block
          font-size: 13px
          font-weight: 400
          line-height: 23px
          color: #000
          text-decoration: none
    .deposit
      margin-left: 100px
    .trade
      button
        border: none
        border-radius: 2px
        background: #3078ff
        width: 100px
        color: white
        height: 25px
        cursor: pointer
      & > div
        position: absolute
        z-index: 1001
        background-color: white
        margin-top: 5px
        width: 100px
        line-height: 30px
        div
          border-left: 1px solid #989bab
          border-right: 1px solid #989bab
          &:first-child
            border-top: 1px solid #989bab
            border-top-left-radius: 2px
            border-top-right-radius: 2px
          &:last-child
            border-bottom: 1px solid #989bab
            border-bottom-left-radius: 2px
            border-bottom-right-radius: 2px
          a
            text-decoration: none
            color: #989bab
            &:hover
              color: #3978ff

  div.table-body
    height: 70px
    border-left: 1px solid #e0e0e8
    border-right: 1px solid #e0e0e8
  .wt-border-helper
    border-top: 1px solid #e0e0e8

//wallet
.wallet-title
  margin-top: 75px
  margin-bottom: 15px
  height: 35px
  line-height: 35px
  font-size: 30px
  font-weight: 500
  color: #000

.wallet-tt-cv
  width: 12px
  height: 12px
  background-color: #3078ff
  margin-right: 5px
  margin-left: 5px
  margin-bottom: 4px

.angle-barcket
  &::after, &::before
    content: ('\00a0\00a0')

.wallet-modulate
  width: 1400px
  margin: 0 auto
  .mat-tab-label
    opacity: 1
    color: #989bab
    min-width: 185px
    background: #f4f4f4 !important
    background-color: #f4f4f4 !important
    border-left: 1px solid #e0e0e8
    border-right: 1px solid #e0e0e8
    border-top: 1px solid #e0e0e8
    font-size: 15px
    &[id="mat-tab-label-0-0"]
      border-right: none !important
    &[class*="mat-tab-label-active"]
      color: black
      // border-bottom: none !important
    &:focus
      background-color: white !important
    &[aria-selected="true"]
      opacity: 1 !important
      color: #000
      background-color: white !important
      background: white !important
  .mat-tab-body[class*="mat-tab-body-active"][class*="ng-tns-c13-0"]
    .wallet-common-history
      .cm-h-box
        .cm-h-coin
          border-top: 1px solid #e0e0e9
  .mat-tab-body[class*="mat-tab-body-active"][class*="ng-tns-c13-1"]
    .wallet-common-history
      .cm-h-box
        .cm-h-date
          border-top: 1px solid #e0e0e8

  .mat-ink-bar
    width: 185px
    left: 185px
    display: none


//deposit & withdrawal history handle
app-wallet-deposit, app-wallet-withdraw
  .wallet-modulate
    .wallet-common-history
      div[class*="cm-h-box"]
        .cm-h-date, .cm-h-coin
          border-top: 1px solid #e0e0e8

//Deposit Note
.dn-header
  height: 30px
  margin-bottom: 15px
  height: 30px
  line-height: 30px
  font-size: 20px
  font-weight: 500
  color: #000
  img
    width: 30px
    height: 30px
    margin-right: 5px
    margin-bottom: 5px
.dn-main
  list-style: none
  padding-left: 0px
  // list-style-image: url('/assets/img/web_wallet_deposit_notice_dot.png')
  .dn-list-image
    display: inline-block
    width: 5px
    height: 5px
    background-image: url('/assets/img/web_wallet_deposit_notice_dot.png')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    margin-bottom: 3px
    margin-right: 7px


//wallet-deposit

.wallet-kind
  p
    font-size: 15px
    font-weight: 500
    color: #000
    height: 30px
    line-height: 30px
    margin-bottom: 10px
    font
      color: #c4c8d7

////deposit-address
.deposit-address, .deposit-note
  display: table-caption !important
.deposit-address
  padding-top: 30px !important
  padding-left: 40px !important
  padding-bottom: 50px !important
  width: 650px
  height: 440px

  & > input
    width: 420px
    height: 40px
    border: solid 1px #c4c8d7
    border-radius: 2px
    color: #989bab
    font-weight: 400
    font-size: 15px
    text-align: center
    user-select: none
  .dp-copy-content
    display: inline-block
    width: 145px
    height: 40px
    border: none
    background: #3078ff
    border-radius: 2px
    color: #fff
    font-size: 13px
    font-weight: 400
    margin-left: 20px
    line-height: 40px
    text-align: center
    cursor: pointer
    input
      display: none
    label
      color: #fff
      width: 145px
      height: 40px
      cursor: pointer
    .dp-copied
      position: absolute
      z-index: 1001
      width: 145px
      height: 40px
      background: #3078ff

////deposit-note basic info
.deposit-note
  width: 725px
  height: 440px
  margin-left: 22px !important
  padding-top: 30px !important
  padding-left: 30px !important
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    position: relative
    left: 649px

////withdraw-address basic info
.withdraw-address
  padding-top: 30px !important
  padding-left: 40px !important
  width: 650px
  height: 505px
  display: table-caption !important

////withdraw-note
.withdraw-note
  width: 725px
  height: 505px
  margin-left: 22px !important
  padding-top: 30px !important
  padding-left: 30px !important
  display: table-caption !important
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    position: relative
    left: 649px


//wt-common-history
.wallet-common-history
  border-top: none

  .cm-h-box
    border-bottom: 1px solid #e0e0e8
    width: 100%
    .cm-h-date
      width: 185px
      min-width: 185px
      max-width: 185px
    .cm-h-coin
      width: 185px
      min-width: 185px
      max-width: 185px
      padding-left: 71px
    .cm-h-amount
      position: relative
      right: 2px
    .cm-h-amount, .cm-h-status, .cm-h-detail
      padding-left: 35px
      border-top: 1px solid #e0e0e8
    .cm-h-header-button
      border-top: 1px solid #e0e0e8
    .cm-h-header
      width: 100px !important
      min-width: 100px !important
      max-width: 100px !important
    p, a
      height: 58px
      line-height: 58px
      font-size: 13px
      font-weight: 400
      color: #989bab
      padding-bottom: 0px
      margin-bottom: 0px
      padding-left: 25px
  .cm-h-date
    width: 230px
    min-width: 230px
  .cm-h-coin, .cm-h-amount, .cm-h-status
    width: 150px
    min-width: 150px
  .cm-h-detail
    width: 640px
    min-width: 640px
    p
      padding: 0px !important
  .cm-h-header-button
    width: 628px
    display: inline-block
    text-align: right
    line-height: 56px
    p
      display: inline-block
      padding: 0px !important
  #cm-h-seeall
    display: inline-table
    width: 90px
    height: 30px
    line-height: 30px
    text-align: center
    padding-left: 16px !important
    border: 1px solid #989bab
    border-radius: 2px
    font-size: 13px
    font-weight: 400
    color: #000
    margin-right: 5px
    text-decoration: none
    user-select: none
  #cm-h-refresh
    width: 35px
    height: 32px
    border: 1px solid #989bab
    border-radius: 2px
    line-height: 30px
    margin-right: 25px
    cursor: pointer
    user-select: none
  .cm-h-toggle
    width: 25px
    max-width: 25px
    min-width: 25px
    height: 25px
    max-height: 25px
    min-height: 25px
    background-image: url('/assets/img/web_wallet_deposit_list_arrow_bottom.png')
    top: 22px
    left: 8px
    cursor: pointer
    &[class*="open"]
      background-image: url('/assets/img/web_wallet_deposit_list_arrow_top.png')

  .ref-image
    width: 15px
    height: 15px
    margin-right: 7.5px
    margin-bottom: 3px
  .cm-h-list-box
    border-bottom: 1px solid #f4f4f4
    width: 100%
    p, div, span
      line-height: 70px
      padding-left: 25px
      font-size: 15px
      font-weight: 400
      color: #000
      margin-bottom: 0px !important
    div.col-1
      background-position: center
      background-size: contain
      background-repeat: no-repeat
    .cm-h-ext
      max-height: 0px !important
    .cm-h-ext[ng-reflect-is-on="false"]
      display: block !important
      opacity: 0
      visibility: hidden
      height: 0px
      max-height: 0px
      // &[ng-reflect-is-on="true"]
      //   visibility: visible
      //   opacity: 1
      //   display: block
      //   max-height: 70px
    .cm-h-IE[ng-reflect-is-on="true"]
      visibility: visible
      opacity: 1
      display: block !important
      // transition: all 0.5s
      max-height: 70px !important
      height: 70px
    .cm-h-ext
      transition: all 0.5s
      -ms-transition: all 0.5s
      height: 70px
    .cm-h-address
      position: relative
      z-index: 2
      background: white

  // .p[ng-reflect-is-on="false"]
  // .cm-h-ext
  //   transition: display 0.3s


.mat-tab-body-content.ng-trigger.ng-trigger-translateTab
  overflow: hidden


// .cm-h-ext[ng-reflect-is-on="true"]
//   visibility: visible
//   opacity: 1
//   display: block
//   max-height: 70px
