/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


@import url('https://fonts.googleapis.com/css?family=Rubik');
:lang(en) {
  font-family: 'Rubik', sans-serif;
}
body {
  background-color: #f6f6f6;
}
header {
  background-color: #ffffff;
  height : 95px;
}
footer {
  background-color: #ffffff;
}
.main-body {
  width: 100%;
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.scrollable {
  height: 100% !important;
  width: 100% !important;
  max-height: none !important;
  overflow-x: hidden !important;
}
.row {
  margin-left: 0px !important;
}
/**material design custom**/

.mat-tab-body-wrapper.sample {
  color: white;
}

.pair-info-tab .mat-tab-label {
  background-color: transparent !important;
  border-radius: 30px !important;;
  z-index: 999 !important;
  min-width: 70px !important;
  width: 70px !important;
  height: 35px !important;
  opacity: 1;
}
.pair-info-tab .mat-tab-label-content {
  padding-bottom : 5px !important;
}
.pair-info-tab .mat-tab-label-active {
  color: white;
}
.mat-tab-group.pair-info-tab.mat-primary .mat-ink-bar, .mat-tab-nav-bar.pair-info-tab.mat-primary .mat-ink-bar{
  background: #3078ff !important;
  height: 30px !important;
  border-radius: 30px !important;
  margin-bottom: 5px !important;
  width: 70px !important;
  z-index: 10 !important;
}

.mat-tab-header {
  border-bottom: none!important;
}
.order-tab .mat-tab-header {
  border-bottom: none!important;
}
.order-tab .mat-tab-body-content {
  overflow: hidden;
}
.order-tab .mat-tab-labels {
  /* border-bottom: 1px solid black !important; */
  height: 33px !important;
  width: 314px !important;
  margin-top : 12px;
  margin-left: 30px;
  border-bottom: 3px #f4f4f4 solid;
}
.order-tab .mat-tab-label-active {
  font-size: 17px;
  font-weight: bold;
  color: black !important;
}
.order-tab .mat-tab-label {
  width: 157px !important;
  height: 33px !important;
  background-color: transparent !important;
  color: #afb2be;
  opacity: 1;
}
.order-tab .mat-tab-label-content {
  height : 33px !important;
  font-size: 17px;
  font-weight: bold;
}
.order-tab .mat-ink-bar, .order-tab .mat-ink-bar{
  background: #3078ff !important;
  height: 3px;
  width: 157px !important;
  z-index: 10 !important;
}
/**angular material bug see : https://github.com/angular/material2/issues/7291" 개귀찮..;;*/
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 0;
}
.mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
  transform: rotate(-45deg);
}
.mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
  transform: rotate(45deg);
}
.tab-favorite{
  z-index: 1000 !important;
  width: 13px;
  height: 13px;
  margin-bottom: 3px;
}
