<mat-tab-group class="pair-info-tab" [disableRipple]="true"
  [@.disabled]="true" (selectedTabChange)="tabChanged($event)">
  <mat-tab *ngFor="let base of baseLists" label={{base}} ></mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img class="tab-favorite" src="/assets/img/trading_market_tab_favorite.png"/>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="mat-tab-border"></div>
<!-- tab 내부로 table이 들어가면 sort가 안되는 문제때문에 tab은 모양만 내고 table은밖에서 동작하게 처리함-->
<div class="card-padding">
  <mat-card class="pair-info-card nopadding">
    <mat-card-content>

      <!--mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="pair">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Pair </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a class="row">
              <div class="favorite">
                <input [appToggle]='3' [isOn]="isFavorite(element.pair)"
                  type="button" class="favorite-button" (click)="setFavorite($event, element.pair)">
              </div>
              {{element.pair}}<br /><font class="below_pair">MANU/TMX</font>
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{significantFig(element.price)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="changepct24">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Change </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.changepct24.toFixed(2)}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="nopadding" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table-->
      <div class="row area-token-quotes-list">
        <div class="row token-quote-table-header">
          <div class="title-pair" (click)="sorting('pair')">
            <p>{{ 'W0010' | translate }}</p>
            <span [appToggle] = "4" [state]="sortingOrder[sortingStateName]"><div class="wt-sorting1"></div></span>
          </div>
          <div class="title-price text-center" (click)="sorting('price')">
            <p>{{ 'W0011' | translate }}</p>
            <span [appToggle] = "4" [state]="sortingOrder[sortingStatePrice]"><div class="wt-sorting1"></div></span>
          </div>
          <div class="title-change text-center" (click)="sorting('change')">
            <p>{{ 'W0012' | translate }}</p>
            <span [appToggle] = "4" [state]="sortingOrder[sortingStateDiff]"><div class="wt-sorting1"></div></span>
          </div>
        </div>
        <a class="row token-quote-list" *ngFor="let value of dataSource"
          (click) = "routeTo(value.pair.toLowerCase().replace('/','-'))">
          <div class="favorite">
            <input type="button" (click)="setFavorite($event, value.pair)"
              class="favorite-button" [appToggle]='3' [isOn]="isFavorite(value.pair)">
          </div>
          <div class="token-name align-middle">
            <p>{{ value.pair }}</p>
            <p>{{ value.pair }}</p>
          </div>
          <div class="price text-center">{{ significantFig(value.price) }}</div>
          <div [appRealTimeColor]="value.changepct24" class="change text-center">{{ value.changepct24.toFixed(2) }}%</div>

        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
