.pair-info-card
  width: 348px
  height: 488px

.mat-tab-border
  position: absolute
  height: 30px
  width: 100%
  top: 0px

.card-padding
  padding: 1px

.favorite >
  .favorite-button, .favorite-button-checked
    width: 15px
    height: 15px
    margin-left: 15px
    margin-top: 6px
    background-size: cover !important
    cursor: pointer
    border: none
    outline: none
    margin-right: 10px !important
    margin-bottom: 0px !important
  .favorite-button
    background: url("/assets/img/trading_market_list_favorite_off.png") no-repeat
  .favorite-button-checked
    background: url("/assets/img/trading_market_list_favorite_on.png") no-repeat


// Modified by RB

.mat-header-row
  min-height: 40px

.below_pair
  display: contents
  display: ruby-text-container
  font-size: 11px
  font-weight: 400
  color: #afb2be
  line-height: 15px

div.mat-tab-labels
  div.mat-tab-label.mat-ripple.ng-star-inserted
    height: 30px !important
    padding-top: 3px !important
